# Required for local telegram-bot-api server
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Telegram Bot API local server options
TELEGRAM_LOCAL_API_PORT=8081
TELEGRAM_LOCAL_HOST_FILE_ROOT=./telegram-bot-api-data

# Metrics
VICTORIA_METRICS_PORT=8428
VICTORIA_METRICS_DATA_DIR=./victoria-metrics-data

# Grafana
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_DATA_DIR=./grafana-data
